body {
  /* top | right | bottom | left */
  /* padding: 5em 0 5em 0; */
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  font-size: 12px;
}

.img {
  display: flex;
  flex-direction: column;
  max-width: 55rem;
  background-image: url(./img/github.png);
  background-repeat: no-repeat;
  opacity: 0.35;
}
